{{ define "content" }} 
	<div class="content">
		<h2> {{ .Title }} </h2>
		{{ .Content }}	
	</div>
	<div class="page-list">
		{{ range .Pages.ByPublishDate.Reverse }}
			<a class="list-page" href="{{ .Permalink }}"> <h3> {{ .Title }} </h3> <time> {{ .PublishDate.Format "2. 1. 2006" }} </time> </a>
		{{ end }}
	</div> 
	
{{ end }}
