{{ define "hypercontent" }}
	{{ if ne .Parent.Kind "home" }}
		<div id="about-parents">
			{{ partial "about-parents.html" . }}	
		</div>
	{{ end }}
{{ end }}
{{ define "content" }}
	
	<div id="about-content" class="content">
		<h2> {{ .Title }} </h2>
		{{ .Content }}	
	</div>
{{ end }}
