{{ if ne .Parent.Parent.Kind "home" }}
	{{ partial "about-parents.html" .Parent }}
{{ end }}
<div class="level">
	{{ $that := . }}
	{{ range .Parent.Pages }}
		<a {{ if eq . $that }} class="active" {{ end }} href="{{ .Permalink }}">{{ .Title }}</a>
	{{ end }}
</div>
